*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: #fff;
}

html, body{
    height:100%;
    width: 100%;
}

#main{
    height: 85%;
    background: #000;
    display: flex;
    padding: 5vw 10vw;
width: 100%;
}

#left{
    height: 100%;
    width: 45%;
    background-color: #333;
}

#right{
    height: 100%;
    width:55%;
    padding: 0 3vw;
}

#right h3{
    font-size: 40px;    
}

#all-songs{
    height: 85%;
    margin-top: 30px;
  
    /* background-color: blue; */
}

.song-card{
    display: flex;
    align-items: center;
   padding :20px 10px;
   justify-content: space-between;
    border-top: 1px solid #686262;

}

.song-card:nth-last-child(1){
    border-bottom: 1px solid #686262;
}

.song-card .part1{
    display: flex;
    pointer-events: none;
    align-items: center;
}


.song-card{
    cursor: pointer;
}
.song-card img{
    height: 55px;
    width: 55px;
    margin-right: 20px;
background-size:cover;

}
#all-songs :hover{
    background-color: #56535364;
}
#player{
    height: 15%;
    width: 100%;
    background: #313030;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;  
    
}

#player h3{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 10px;
    background-color: #0c0c0c;
    cursor: pointer;
}

#player h3 i{
    font-size: 30px;
}

#player h3:active{
    scale: 0.9;
}
